{% extends "admin_base.html" %}
{% block title %}Gestionar Usuarios{% endblock %}
{% block content %}
<h2 class="titulo-admin" style="margin-top: 50px;">Gestionar Usuarios Postulantes de IESTPO</h2>
<div class="tarjeta-admin">
    <table class="tabla-admin">
        <thead class="cabecera-tabla">
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Fecha Postulación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for postulante in postulantes %}
            <tr>
                <td>{{ postulante.id }}</td>
                <td>{{ postulante.nombres }}</td>
                <td>{{ postulante.apellidos }}</td>
                <td>{{ postulante.dni }}</td>
                <td>{{ postulante.usuario.email }}</td>
                <td>
                    {% if postulante.estado == 'aprobado' %}
                    <span class="estado estado-aprobado">{{ postulante.estado|title }}</span>
                    {% elif postulante.estado == 'rechazado' %}
                    <span class="estado estado-rechazado">{{ postulante.estado|title }}</span>
                    {% else %}
                    <span class="estado estado-pendiente">{{ postulante.estado|title }}</span>
                    {% endif %}
                </td>
                <td>
                    {{ postulante.fecha_registro.strftime('%d/%m/%Y') }}
                </td>
                <td>
                    <form method="POST" action="{{ url_for('cambiar_estado_postulante', postulante_id=postulante.id) }}"
                        style="display:inline;">

                        <select name="estado" onchange="this.form.submit()" class="select-estado">
                            <option value="pendiente" {% if postulante.estado=='pendiente' %}selected{% endif %}>
                                Pendiente
                            </option>
                            <option value="aprobado" {% if postulante.estado=='aprobado' %}selected{% endif %}>
                                Aprobado
                            </option>
                            <option value="rechazado" {% if postulante.estado=='rechazado' %}selected{% endif %}>
                                Rechazado
                            </option>
                        </select>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="{{ url_for('admin_dashboard') }}" class="boton-admin boton-volver">
    Volver al Panel
</a>
{% endblock %}